/* #region Common */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--bt_text);
}

:root {
    --bt_primary: #1ABC9C;
    --bt_darker: #2C3E50;
    --bt_text: #333333;
    --bt_dark: #3A546D;
    --bt_lighter: #FFFFFF;
}

h1 {
    font-weight: 800;
    line-height: 69px;
    letter-spacing: 0.035em;
}

.jumbo_text p {
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.015em;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}
img{
    max-width: 100%;
}

/* #endregion Common */

/* #region Header */
#site_header {
    background-color: var(--bt_darker);
}

.nav-link {
    color: var(--bt_lighter);
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.055em;
}

.navbar-brand {
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.05em;
}

/* #endregion Header */

/* #region Main */
.jumbotron {
    background-color: var(--bt_primary);
}

.jumbo_img img {
    width: 190px;
}

.bar {
    height: 3px;
    width: 15%;
    background-color: var(--bt_darker);
    border-radius: 3rem;
}

.about_us{
    background-color: var(--bt_primary);
    padding: 0px 112px;
}

/* #endregion Main */

/* #region Debug */
.debug header {
    background-color: lightblue;
}

.debug .logo,
.debug .custom_nav_bar {
    background-color: aqua;
    height: 50px;
    width: 200px;
    border: 1px solid red;
}

.debug .jumbotron,
.debug .about_us {
    background-color: lightgreen;
}

.debug .jumbo {
    background-color: green;
    height: 400px;
    width: 400px;
}

.debug .image {
    height: 200px;
    background-color: red;
    border: 2px solid black;
}

.debug .about {
    height: 100px;
    width: 200px;
    background-color: blueviolet;
}

.debug .contact_me {
    height: 300px;
    width: 400px;
    background-color: yellow;
}

.debug .text {
    background-color: gray;
    height: 50px;
    width: 200px;
}

.debug .footer_top {
    background-color: blue;
}

.debug .footer_bot {
    height: 100px;
    background-color: aquamarine;
}

/* #endregion Debug */

/* #region Responsive Media Queries */
@media screen and (min-width: 768px) {
    .navbar-brand {
        font-size: 27px;
    }

    .jumbo_img img {
        width: 230px;
    }

    h1 {
        font-size: 59px;
    }

    .jumbo_text p {
        font-size: 26px;
    }
    h2{
        font-size: 50px;  
    }
}

/* #endregion Responsive Media Queries */