/* #region Debug */
.debug header{
    background-color: lightblue;
}
.debug .logo,
.debug .custom_nav_bar{
    background-color: aqua;
    height: 50px;
    width: 200px;
    border:1px solid red;
}

.debug .jumbotron,
.debug .about_us {
    background-color: lightgreen;
}
.debug .jumbo{
    background-color: green;
    height:400px;
    width: 400px;
}

.debug .image{
    height: 200px;
    background-color: red;
    border: 2px solid black;
}

.debug .about{
    height: 100px;
    width: 200px;
    background-color: blueviolet;
}

.debug .contact_me{
    height: 300px;
    width: 400px;
    background-color: yellow;
}

.debug .text{
    background-color: gray;
    height: 50px;
    width: 200px;
}
.footer_top{
    background-color: blue;
}
.footer_bot{
    height: 100px;
    background-color: aquamarine;
}
/* #endregion Debug */